@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-background: hsl(0, 0%, 0%);
  --color-foreground: hsl(0, 0%, 95%);
  --color-link: hsl(216, 97%, 73%);
  --color-default: hsl(0, 0%, 10%);

  --color-primary: #b1a0e4;
}

:root {
  --squircle-smoothing: 1;
}

@layer base {
  .text-gradient {
    @apply bg-gradient-to-tl from-primary to-foreground bg-clip-text text-transparent;
  }
}
